{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {},
  "rules": {
    "no-prototype-builtins": ["error"],
    "no-template-curly-in-string": ["warn"],
    "no-unsafe-negation": ["error"],
    "valid-jsdoc": ["error"],
    "eqeqeq": ["error"],
    "no-else-return": ["error"],
    "no-loop-func": ["error"],
    "no-multi-spaces": ["error"],
    "no-global-assign": ["error"],
    "no-undefined": ["error"],
    "no-useless-call": ["error"],
    "no-useless-return": ["error"],
    "no-void": ["error"],
    "no-console": ["off"],
    "prefer-const": ["error"],
    "wrap-iife": ["error"],
    "yoda": ["error"],
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "never"],
    "brace-style": ["error"],
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "func-call-spacing": ["error", "never"],
    "indent": ["error", 2],
    "key-spacing": ["error", { "beforeColon": false }],
    "keyword-spacing": ["error", { "before": true }],
    "lines-around-comment": ["error", { "beforeBlockComment": true }],
    "no-multi-assign": ["error"],
    "no-nested-ternary": ["error"],
    "no-trailing-spaces": ["error"],
    "no-whitespace-before-property": ["error"],
    "space-before-function-paren": ["error"],
    "semi": ["error"],
    "space-in-parens": ["error"],
    "space-infix-ops": ["error"],
    "space-unary-ops": ["error"],
    "spaced-comment": ["error"],
    "space-before-blocks": ["error"]
  }
}